<div id="<%= dom_id critic %>">
  <p>
    <strong>Title:</strong>
    <%= critic.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= critic.body %>
  </p>

  <p>
    <strong>Criticable:</strong>
    <%= critic.criticable_id %>
  </p>

</div>
