<section class="section">
  <section class="container">

<h1>New critic</h1>

<%= render "form", critic: @critic%>
<%# , criticable: @criticable %>
<br>

<div>
  <%# <%= link_to "Back to critics", critics_path %> %>
</div>

</section>
</section>
