<section class="section">
  <section class="container">

<h1>New company</h1>

<%= render "form", company: @company %>

<br>

<div>
  <%= link_to "Back", companies_path %>
</div>

</section>
</section>
